[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
piazza-api = {path = "./vendor/piazza-api"}
flask = "*"
flask-sqlalchemy = "*"
"psycopg2" = "*"
python-dotenv = "*"

[dev-packages]

[requires]
python_version = "3.6"
