{% extends 'layout.html' %}
{% block title %}Analyzing {{ network.number }} ({{ network.term }}){% endblock %}

{% block content %}
<div class="row">
    <div class="col-sm-12 mb-2">
        <div class="card">
            <h5 class="card-header">
                {{ network.number }} ({{ network.term }}): {{ network.name }} - Analysis {{ analysis.id }}
            </h5>

            {% if not analysis.finished %}
            <div class="card-body">
                <h5 class="card-title">An analysis is in progress.</h5>
                <div class="form-group">
                    <label>Session extraction</label>
                    <div class="progress">
                        <div id='sessionProgress' class="progress-bar" role="progressbar" style="width: {{ progress['sessions'] }}%;" aria-valuenow="{{ progress['sessions'] }}" aria-valuemin="0" aria-valuemax="100"></div>
                    </div>
                </div>
                <div class="form-group">
                    <label>Role inference (sampling)</label>
                    <div class="progress">
                        <div id='samplingProgress' class="progress-bar" role="progressbar" style="width: {{ progress['sampling'] }}%;" aria-valuenow="{{ progress['sampling'] }}" aria-valuemin="0" aria-valuemax="100"></div>
                    </div>
                </div>
            </div>
            {% else %}
            <div class="card-body row">
                <div class="col-lg-6">
                    <h5>Analysis parameters</h5>
                    <dl class="row mb-2 mt-1">
                        <dt class="col-sm-6 m-0">Session gap</dt>
                        <dd class="col-sm-6 m-0">{{ analysis.session_gap }} hours</dd>
                        <dt class="col-sm-6 m-0">Number of roles</dt>
                        <dd class="col-sm-6 m-0">{{ analysis.role_count }}</dd>
                        <dt class="col-sm-6 m-0">Sampling iterations</dt>
                        <dd class="col-sm-6 m-0">{{ analysis.max_iterations }}</dd>
                        <dt class="col-sm-6 m-0">Proportion smoothing</dt>
                        <dd class="col-sm-6 m-0">{{ analysis.proportion_smoothing }}</dd>
                        <dt class="col-sm-6 m-0">Role smoothing</dt>
                        <dd class="col-sm-6 m-0">{{ analysis.role_smoothing }}</dd>
                    </dl>
                </div>
                <div class="col-lg-6">
                    <h5>Session statistics</h5>
                    <dl class="row mb-2 mt-1">
                        {% for stat in session_stats %}
                        <dt class="col-sm-7 m-0">{{ stat[0] }}</dt>
                        <dd class="col-sm-5 m-0">{{ stat[1] | round(2) }}</dd>
                        {% endfor %}
                    </dl>
                </div>
            </div>
            {% endif %}
        </div>
    </div>
</div>

{% if analysis.finished %}
<div class="row">
    {% for role in analysis.roles %}
    <div class="col-12 mb-2">
        <div class="card">
            <div class="card-header d-flex justify-content-between">
                <h5 class="m-0 pt-2">Role {{ loop.index }} <small>({{ ((role.sessions | count) / (analysis.sessions | count) * 100) | round(1) }}% of sessions)</small></h5>
                <a href="{{ url_for('.role', network_id=network.id, analysis_id=analysis.id, role_num=loop.index) }}" class="btn btn-primary">View details</a>
            </div>
            <svg class="card-img-top" id="roleChart{{ role.id }}"></svg>
        </div>
    </div>
    {% endfor %}
</div>
{% endif %}
{% endblock %}

{% block scripts %}
{% if analysis.finished %}
<script type="text/javascript">
    var action_types = {{ action_type_map | tojson | safe }};
    var roles = {{ role_json | tojson | safe }};
</script>
{% endif %}
<script src="{{ url_for('static', filename='js/jquery-3.3.1.slim.min.js') }}"></script>
<script src="{{ url_for('static', filename='js/socket.io.slim.js') }}"></script>
<script src="{{ url_for('static', filename='js/d3.v5.min.js') }}"></script>
<script src="{{ url_for('static', filename='js/d3-scale-chromatic.min.js') }}"></script>
<script src="{{ url_for('static', filename='js/bootstrap.bundle.min.js') }}"></script>
<script src="{{ url_for('static', filename='js/barchart.js') }}"></script>
<script src="{{ url_for('static', filename='js/analysis.js') }}"></script>
{% endblock %}
