{% extends 'layout.html' %}
{% block title %}User {{ uid }}: Analyzing {{ network.number }} ({{ network.term }}){% endblock %}

{% block stylesheets %}
{% endblock %}

{% block content %}
<div class="row">
    <div class="col-12 mb-2">
        <div class="card">
            <h5 class="card-header">User {{ uid }} <small>({{ sessions | count}} sessions)</small></h5>
            <svg class="card-img-top" id="proportionChart"></svg>

            <div class="card-body">
                <h4>Sessions for this user</h4>

                <div class="accordion" id="sessionAccordion">
                    {% for session in sessions %}
                    <div class="card">
                        <div class="card-header" id="sessionHeading{{ loop.index }}">
                            <h5 class="mb-0">
                                <button class="btn btn-link" type="button" data-toggle="collapse" data-target="#sessionCollapse{{ loop.index }}" aria-expanded="false" aria-controls="sessionCollapse{{ loop.index }}">
                                    Session {{ loop.index }}
                                </button>
                                {% set role_num = role_number[session.role_id] %}
                                <small>{{ session.actions | count }} actions in <a href="{{ url_for('.role', network_id=network.id, analysis_id=analysis.id, role_num=role_num) }}">Role {{ role_num }}</a></small>
                            </h5>
                        </div>
                        <div id="sessionCollapse{{ loop.index }}" class="collapse" aria-labelledby="sessionHeading{{ loop.index }}" data-parent="#sessionAccordion">
                            <div class="card-body">
                                {% for action in session.actions | sort(attribute='time') %}
                                <span data-toggle="tooltip" data-placement="top" title="{{ action.action_type().description() }}">
                                    <button type="button" class="mb-2 btn btn-secondary btn-sm" data-toggle="collapse" data-target="#action{{ action.id }}" aria-expanded="false" aria-controls="action{{ action.id }}"><small>{{ action.action_type().name }}</small></button>
                                </span>
                                {% endfor %}
                            </div>
                            {% for action in session.actions | sort(attribute='time') %}
                            <div class="collapse" id="action{{ action.id }}">
                                <div class="card card-body">
                                    {{ action.content | safe }}
                                </div>
                            </div>
                            {% endfor %}
                        </div>
                    </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}

{% block scripts %}
<script type="text/javascript">
    var proportions = {{ proportions | tojson | safe }};
</script>
<script src="{{ url_for('static', filename='js/jquery-3.3.1.slim.min.js') }}"></script>
<script src="{{ url_for('static', filename='js/d3.v5.min.js') }}"></script>
<script src="{{ url_for('static', filename='js/d3-scale-chromatic.min.js') }}"></script>
<script src="{{ url_for('static', filename='js/bootstrap.bundle.min.js') }}"></script>
<script src="{{ url_for('static', filename='js/barchart.js') }}"></script>
<script src="{{ url_for('static', filename='js/user.js') }}"></script>
{% endblock %}
