[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
piazza-api = {path = "./vendor/piazza-api"}
flask = "*"
flask-sqlalchemy = "*"
gunicorn = "*"
requests = "*"
six = "*"
flask-breadcrumbs = "*"
pgcli = "*"
"psycopg2-binary" = "*"
python-dotenv = "*"
flask-migrate = "*"
watchdog = "*"
flask-socketio = "*"
eventlet = "*"
redis = "*"
celery = {version = "*", extras = ["redis"]}
flask-wtf = "*"

[dev-packages]

[requires]
python_version = "3.6"
